table.center {
	margin-left: auto;
	margin-right: auto;
}

.buttons_table {
	padding-top:  45px;
}
.configuration_cell_left {
	padding-right:  70px;
	padding-top:  20px;
	padding-bottom:  20px;
}
.configuration_cell_right {
	padding-top:  20px;
	padding-bottom:  20px;
}
.word_list_right_td {
	padding-top:  10px;
	padding-bottom:  10px;
	padding-left:  25px;
	padding-right:  100px;
	border:  3px solid black;
}
.word_list_left_td {
	padding-top:  10px;
	padding-bottom:  10px;
	padding-left:  25px;
	padding-right:  25px;
	border:  3px solid black;
}
.buttons_cell {
	padding-right:  20px;
}
.my_button {
	border-radius:  30px;
	border:  3px solid black;
	height:  60px;
}
.bingo_card_cell {
	padding-top:  30px;
	padding-bottom:  30px;
	padding-right:  15px;
	padding-left:  15px;
	border:  3px solid black;
}
.about_link {
	font-size:  xx-large;
}
.left_column {
	float:  left;
}
.right_column {
	float:  right;
}
.error_message {
	color:  red;
}
.center_header {
	padding-left:  150px;
}
@media print {
	h1 {page-break-before: always;}
  }